.title-container {
  display: flex;
  gap: 10px;
}

.title-container__page-title {
  margin: 0;
}

.title-container__icon {
  fill: var(--accent-color);
  width: 50px;
  height: auto;
}

.bugs-total {
  align-self: flex-start;
}

.bugs-total__label {
  font-weight: bold;
}
