*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  margin: 0;
  font-family: "Noto Sans Variable", sans-serif;
  color: #252525;
  font-size: 1rem;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
select,
textarea,
button,
fieldset {
  padding: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

button {
  cursor: pointer;
}
