.main-header__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0 10px 5px 10px;
}

.main-header__banner {
  height: 45px;
  width: 100vw;
  object-position: 40% 35%;
  object-fit: cover;
}
