.bug-wrapper {
  position: relative;
  height: 100%;
}

.bug {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 2px;
  position: relative;
  height: 100%;
  justify-content: space-between;
}

.bug__details-link {
  display: flex;
  flex-direction: column;
}

.bug__image {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 2px 2px 0 0;
  object-fit: cover;
}

.info-container {
  display: flex;
  flex-direction: column;
  padding: 7px;
  gap: 4px;
  height: 100%;
  justify-content: space-between;
}

.bug__name {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

.bug__latin-name {
  font-size: 0.9rem;
  color: #535353;
}

.bug__update-link {
  font-size: 0;
}

.buttons-container {
  display: flex;
  padding: 7px;
  justify-content: space-between;
  justify-self: flex-end;
}
